<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372530887004-b1m970n56rdku2t8g4ct5js7v0vo81sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372530887004-b1m970n56rdku2t8g4ct5js7v0vo81sd</string>
	<key>API_KEY</key>
	<string>AIzaSyAAiGuulBmcW-1J2P5V7P6akqJhCYHgEGc</string>
	<key>GCM_SENDER_ID</key>
	<string>372530887004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olx</string>
	<key>PROJECT_ID</key>
	<string>olx-app-45f26</string>
	<key>STORAGE_BUCKET</key>
	<string>olx-app-45f26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372530887004:ios:79c21fe4ec52ea3c0a6999</string>
	<key>DATABASE_URL</key>
	<string>https://olx-app-45f26.firebaseio.com</string>
</dict>
</plist>